{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $personalMachine := promptBoolOnce . "personalMachine" "Is this a personal machine" -}}
{{- $projectsDir := promptStringOnce . "projectsDir" "Where are projects stored" "~/projects" -}}

encryption = "age"

[data]
    email = {{ $email | quote }}
    personalMachine = {{ $personalMachine }}
    projectsDir = {{ $projectsDir | quote }}
    wsl = {{ and (eq .chezmoi.os "linux") (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}

[age]
    identity = "~/key.txt"
    recipient = "age1r9qma0h2g4vhlv4nuaj5fgzlka93m4v93rzefkwyfcyxkp47n4psxlj0gl"
