{{ $nvim := ".config/nvim" }}

{{ if eq .chezmoi.os "windows" }} 
{{ $nvim = "AppData/Local/nvim" }}
{{ end }}

["{{- $nvim }}"]
type = "git-repo"
url = "https://github.com/AstroNvim/AstroNvim"

["{{- $nvim }}".clone]
args = ["--depth", "1"]

["{{- $nvim }}/lua/user"]
type = "git-repo"
url = "https://github.com/Phault/astronvim-profile"
refreshPeriod = "24h"

[".local/share/omf"]
type = "archive"
url = "https://github.com/oh-my-fish/oh-my-fish/archive/refs/tags/v7.tar.gz"
exact = false
stripComponents = 1

[".local/share/omf/themes/default"]
type = "archive"
url = "https://github.com/oh-my-fish/theme-default/archive/refs/heads/master.zip"
exact = true
stripComponents = 1

[".local/share/omf/pkg/pj"]
type = "archive"
url = "https://github.com/oh-my-fish/plugin-pj/archive/refs/heads/master.zip"
exact = true
stripComponents = 1

[".oh-my-zsh"]
type = "git-repo"
url = "https://github.com/ohmyzsh/ohmyzsh"
refreshPeriod = "168h"

[".oh-my-zsh".clone]
args = ["--depth", "1"]

