[".config/nvim"]
type = "archive"
url = "https://github.com/AstroNvim/AstroNvim/archive/refs/heads/main.tar.gz"
exact = false
stripComponents = 1

[".config/emacs"]
type = "git-repo"
url = "https://github.com/doomemacs/doomemacs.git"

[".local/share/omf"]
type = "archive"
url = "https://github.com/oh-my-fish/oh-my-fish/archive/refs/tags/v7.tar.gz"
exact = false
stripComponents = 1

[".local/share/omf/themes/default"]
type = "archive"
url = "https://github.com/oh-my-fish/theme-default/archive/refs/heads/master.zip"
exact = true
stripComponents = 1

[".local/share/omf/pkg/pj"]
type = "archive"
url = "https://github.com/oh-my-fish/plugin-pj/archive/refs/heads/master.zip"
exact = true
stripComponents = 1

[".oh-my-zsh"]
type = "git-repo"
url = "https://github.com/ohmyzsh/ohmyzsh"
refreshPeriod = "168h"

[".oh-my-zsh".clone]
args = ["--depth", "1"]

