{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $personalMachine := promptBoolOnce . "personalMachine" "Is this a personal machine?" -}}

encryption = "age"

[data]
    email = {{ $email | quote }}
    personalMachine = {{ $personalMachine }}

[age]
    identity = "~/key.txt"
    recipient = "age1r9qma0h2g4vhlv4nuaj5fgzlka93m4v93rzefkwyfcyxkp47n4psxlj0gl"
