tap "homebrew/cask"
tap "homebrew/cask-fonts"
tap "planetscale/tap"
tap "railwaycat/emacsmacport"
tap "isen-ng/dotnet-sdk-versions"

# dependencies
brew "mas"
brew "git"
brew "tree-sitter"
brew "plantuml"
brew "age"
brew "make"
brew "ripgrep"
brew "unar"
brew "ffmpegthumbnailer"
brew "poppler"
brew "coreutils"
brew "gcc"
brew "unzip"
brew "shfmt"
brew "shellcheck"
brew "pandoc"
cask "font-jetbrains-mono-nerd-font"
mas "Xcode", id: 497799835

# languages and frameworks
brew "python"
brew "openjdk"
brew "volta"
cask "dotnet-sdk8-0-100"
cask "dotnet-sdk7-0-400"
brew "luarocks"
brew "go"
brew "golangci-lint"
brew "gopls"
brew "helm"
brew "just"

# apps
brew "bitwarden-cli"
brew "chezmoi"
brew "broot"
brew "curl"
brew "fish"
brew "fzf"
brew "fd"
brew "lazygit"
brew "neovim"
brew "starship"
brew "tmux"
brew "jq"
brew "fx"
brew "yazi"
cask "figma"
cask "firefox"
cask "forklift"
cask "insomnia"
cask "obsidian"
cask "raycast"
cask "rectangle"
cask "spotify"
cask "sublime-merge"
cask "syncthing"
cask "the-unarchiver"
cask "visual-studio-code"
cask "vivaldi"
cask "wezterm"
# cask "docker"
cask "orbstack"
cask "devutils"
brew "kubernetes-cli"
brew "awscli"
cask "session-manager-plugin"
brew "terraform"
brew "mysql-client"
brew "aws-cdk"
brew "redis"
cask "openlens"
cask "sloth"
cask "emacs-mac"
mas "Amphetamine", id: 937984704
mas "Bitwarden", id: 1352778147 # only app-store version supports connecting to browser extension

{{ if .personalMachine }} 
cask "qbittorrent"
cask "tailscale"
cask "soulseek"
cask "discord"
cask "plex"
cask "parsec"
cask "calibre"
brew "pscale"
brew "flyctl"
{{ else }}
cask "google-chrome"
cask "dotnet-sdk6-0-400"
{{ end }}
